/* body {
  background-color: rgba(105, 98, 98, 0.067);
  color: rgb(255, 255, 255);
} */

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 2px solid black;
}

.selected {
  background-color: blue;
}
