* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 200vh; */
  max-height: 900px;
  background-color: #e9ecef;
}

.info {
  margin-top: 40px;
}

.level {
  margin-bottom: 20px;
}

.info,
.level {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
  background: linear-gradient(
    to top,

    rgba(210, 36, 36, 0.461),
    rgba(230, 35, 35, 0.511),
    rgba(200, 8, 8, 0.519),
    rgba(190, 8, 8, 0.683),
    rgb(138, 12, 12)
  );
}

.cell {
  width: 6vh;
  height: 6vh;

  text-align: center;
  border-radius: 10%;
  border: 1px solid rgba(210, 36, 36, 0.4);
  cursor: pointer;
  box-shadow: 3px 3px 4px rgba(228, 8, 8, 0.3);
}

.cell:hover {
  background-color: rgb(229, 219, 255, 0.5);
}

.selected {
  background-color: rgb(208, 191, 255, 0.5);
}

.selected:hover {
  background-color: rgb(208, 191, 255, 0.5);
  cursor: auto;
}

.popup {
  border-radius: 20%;
  width: 35vh;
  height: 35vh;
  text-align: end;
  margin-right: 5px;
  background: linear-gradient(
    to top,

    #f06595,
    #f783ac,
    #faa2c1,
    #fcc2d7,
    #ffdeeb,
    #fff0f6
  );

  position: absolute;

  justify-content: center;
  align-items: center;

  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.978);
}

.resetBtn {
  cursor: pointer;
  background-color: transparent;
  padding: 5px;
  margin: 0px 10px;
  font-size: 20px;
  border-radius: 10%;
  border: none;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
}

.resetBtn:hover {
  background-color: #ff8787;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.978);
}

.btn {
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  border-radius: 10%;
  border: none;
  background-color: transparent;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: #ff8787;
}

.timer {
  padding-right: 5px;
  margin-left: 6px;
}

.switch-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ced4da;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #868e96;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2195f300;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

footer {
  font-size: 10px;
  margin-top: 15px;
}
